@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #39c2d7;
    font-family: 'Oswald', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.title figure {
    width: fit-content;
    max-height: 99vh;
    background: white;
    padding: 15px;
    box-shadow: 2px 2px 30px black;
    transform: rotate(-2deg);
    text-align: center;
}

.title h1 {
    font-size: 4em;
}

section h1 {
        text-align: center;
    color: #000;
    background-color: #FFF;
    padding: 30px 0;
    margin-bottom: 20px;
    font-size: 2em;
    box-shadow: 2px 2px 30px black;
}

section h2 {
        color: #fff;
    font-size: 1em;
    text-align: center;
}

section figure {
    text-align: center;
}

section figure ul {
    display: inline-block;
    text-align: initial;
    margin-top: 40px;
    background-color: #FFF;
    padding: 40px 100px;
    transform: rotate(-1deg);
    box-shadow: 2px 2px 30px black;
}

section figure ul li {
    line-height: 90px;
    list-style-type: disc;
    list-style-position: inside;
}

section p {
    background-color: #fff;
    padding: 30px 0;
}

code[class*="language-"],
pre[class*="language-"] {
    word-wrap: normal;
    background-color: #fff;
}